<form [formGroup]="form" class="form-container">

  <mat-card class="title">
    <mat-card-title>Cadastro de Prestação de Serviço</mat-card-title>

    <mat-card-content>

      <div class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Vendedor</mat-label>
          <input matInput formControlName="vendedor" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contrato</mat-label>
          <input matInput formControlName="contrato" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Empresa</mat-label>
          <mat-select formControlName="empresa">
            <mat-option value="Bancorbras">Bancorbras</mat-option>
            <mat-option value="HS">HS</mat-option>
          </mat-select>
        </mat-form-field>

        @if (form.get('empresa')?.value === 'Bancorbras') {
          <mat-form-field appearance="outline">
            <mat-label>Parcela</mat-label>
            <mat-select formControlName="parcela">
              <mat-option value="parcela1">Parcela 1</mat-option>
              <mat-option value="parcela2">Parcela 2</mat-option>
              <mat-option value="parcela3">Parcela 3</mat-option>
              <mat-option value="parcela4">Parcela 4</mat-option>
              <mat-option value="parcela5">Parcela 5</mat-option>
              <mat-option value="parcela6">Parcela 6</mat-option>
              <mat-option value="parcela7">Parcela 7</mat-option>
              <mat-option value="parcela8">Parcela 8</mat-option>
              <mat-option value="parcela9">Parcela 9</mat-option>
              <mat-option value="parcela10">Parcela 10</mat-option>
              <mat-option value="parcela11">Parcela 11</mat-option>
              <mat-option value="parcela12">Parcela 12</mat-option>
            </mat-select>
          </mat-form-field>
        }

        @if (form.get('empresa')?.value === 'HS') {
          <mat-form-field appearance="outline">
            <mat-label>Parcela</mat-label>
            <mat-select formControlName="parcela">
              <mat-option value="parcela1">Parcela 1</mat-option>
              <mat-option value="parcela2">Parcela 2</mat-option>
              <mat-option value="parcela3">Parcela 3</mat-option>
              <mat-option value="parcela4">Parcela 4</mat-option>
              <mat-option value="parcela5">Parcela 5</mat-option>
              <mat-option value="parcela6">Parcela 6</mat-option>
            </mat-select>
          </mat-form-field>
        }

        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            class="valor"
            matInput
            currencyMask
            formControlName="valor"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }"
          />
        </mat-form-field>

      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="voltar()">Voltar</button>
      @if (!isViewMode && !isEditMode) {
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      }
      @if (!isViewMode && isEditMode) {
        <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid">
          Atualizar
        </button>
      }
    </mat-card-actions>

  </mat-card>

</form>
